@page
@using Core.Servises.Interfaces
@model Web.Pages.Admin.User.IndexModel
@inject IPermissionService _permissionService
@{
    ViewData["Title"] = "User Management";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Management</h1>
    </div>
</div>

@if (_permissionService.CheckPermission(3, User.Identity.Name))
{
    <div class="container">
        <a href="/Admin/User/CreateUser" class="btn btn-success btn-outline">Add New User</a>
    </div>
}
<br />
<div class="row" dir="ltr">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                User List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">

                                        <div class="form-group col-md-6">
                                            <input type="search" name="userNameFilter" class="form-control" placeholder="UserName" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="search" name="emailFilter" class="form-control" placeholder="Email" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="row">

                                        <div class="form-group col-md-6">
                                            <select name="genderId" aria-controls="dataTables-example"
                                                    class="form-control input-sm">
                                                <option value="0">Gender</option>
                                                <option value="1">Man</option>
                                                <option value="2">Woman</option>
                                                <option value="3">Transgender</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <select name="take" aria-controls="dataTables-example"
                                                    class="form-control input-sm">
                                                <option value="10">Paginig</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-sm btn-info" value="Actions" />
                                    <a class="btn btn-sm btn-warning" href="/Admin/User">Refresh</a>
                                </div>
                            </div>
                        </form>
                        <br />
                        <table dir="ltr" class="table table-striped table-bordered table-hover dataTable no-footer"
                               id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th>#</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Condition</th>
                                    <th>Register</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int v = 0;
                                }

                                @foreach (var user in Model.UserForAdminViewModel.Users)
                                {
                                    <tr>
                                        <td>@(++v)</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td>@((user.GenderId != null) ? @user.UserGender.GenderTitle : "-") </td>
                                        <td>
                                            @if (user.IsActive)
                                            {
                                                <p class="text-success">Active</p>
                                            }
                                            else
                                            {
                                                <p class="text-danger">Inactive</p>
                                            }
                                        </td>
                                        <td>@user.RegisterDate.ToString("MMM/dd/yyyy")</td>
                                        <td>
                                            @if (_permissionService.CheckPermission(4, User.Identity.Name))
                                            {
                                                <a href="/Admin/User/EditUser/@user.UserId" class="btn btn-warning btn-outline btn-sm">Edit </a>
                                            }
                                            @if (_permissionService.CheckPermission(5, User.Identity.Name))
                                            {
                                                <a href="/Admin/User/DeleteUser/@user.UserId" class="btn btn-danger btn-outline btn-sm">Delete </a>
                                            }
                                            <a href="/Admin/User/UserComments/@user.UserId" class="btn btn-info btn-sm disabled">Comments </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite"
                                     aria-relevant="all">
                                    Show page 1 of @Model.UserForAdminViewModel.UserCount
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                    <ul class="pagination">
                                        @for (int i = 1; i < Model.UserForAdminViewModel.PageCount; i++)
                                        {
                                            <li class="paginate_button @((i==Model.UserForAdminViewModel.PageCount)?"active":"")" aria-controls="dataTables-example">
                                                <a href="/Admin/User?PageId=@i">@i</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>