@model Core.DTOs.RegisterViewModel
@{
    ViewData["Title"] = "Sing up";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">UPCode</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sing up</li>
        </ul>
    </nav>
</div>



<main class="client-page">
    <div class="container-content">

        <header><h2> Sing up </h2></header>

        <div class="form-layer">

            <form asp-action="Register" method="post">


                <div class="input-group">
                    <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                    <input asp-for="@Model.UserName" type="text" class="form-control" placeholder="UserName" aria-describedby="username">
                </div>
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Email" aria-describedby="email-address">
                </div>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Password" aria-describedby="password">
                </div>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="@Model.RePassword" type="password" class="form-control" placeholder="RePassword" aria-describedby="password">
                </div>
                <span asp-validation-for="@Model.RePassword" class="text-danger"></span>

                <div class="accept-rules">
                    <label>
                        <input asp-for="@Model.Rules" type="checkbox">
                        I accept the <a href="/Rules"> rules and regulations</a> of the site
                    </label>
                </div>
                <span asp-validation-for="@Model.Rules" class="text-danger"></span>

                <div class="link">
                    <a href="/Login"> <i class="zmdi zmdi-account"></i> Sign in </a>
                </div>

                <button class="btn btn-primary"> Sing up </button>


            </form>
        </div>

    </div>
</main>
