@model Core.DTOs.ResetPasswordVeiwModel
@{
    ViewData["Title"] = "Password recovery";
}



<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">UPCode</a></li>
            <li class="breadcrumb-item active" aria-current="page">Password recovery</li>
        </ul>
    </nav>
</div>



<main class="client-page">
    <div class="container-content">

        @if (ViewBag.IsSuccess==true)
        {
            <div class="alert alert-success">
                <p class="help-block">Password changed successfully !</p>
            </div>
            <script>
                // Your delay in milliseconds
                var delay = 3000;
                setTimeout(function() { window.location = "/Login"; }, delay);
            </script>
        }
        else if (ViewBag.IsSuccess == false)
        {
            <div class="alert alert-danger">
                <p class="help-block">The information entered is not correct!</p>
            </div>
        }

        <header><h2> Password recovery</h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">

                <input type="hidden" asp-for="@Model.ActiveCode" />



                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Password " aria-describedby="password">
                </div>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="@Model.RePassword" type="password" class="form-control" placeholder="RePassword" aria-describedby="password">
                </div>
                <span asp-validation-for="@Model.RePassword" class="text-danger"></span>


                <button class="btn btn-success"> Chenge Password </button>


            </form>
        </div>

    </div>
</main>
