@using Core.DTOs;
@using Core.Servises.Interfaces;
@inject IUserService _userSerivce

@{
    SideBarUserPanelViewModel user = _userSerivce.GetSideBarUserPanelData(User.Identity.Name) as SideBarUserPanelViewModel;
    
}

<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en-us">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./images/logo-icon.jpg" type="image/x-icon" />
    <title> UPCode | @ViewData["Title"] </title>

    <!----- Partial Meta Tags----->
    <partial name="/Views/Shared/Reference/_MetaTag.cshtml" />

    <!----- Partial Style Sheet----->
    <partial name="/Views/Shared/Reference/_StyleSheet.cshtml" />

    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <script src="/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> Cooperation in sales </a>
                                <a href=""> About us </a>
                                <a href=""> Contact us </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein">
                                    <a href="/UserPanel">
                                        <img style="border-radius:100%;border:1px solid white;margin-right:4px;padding:2px;"
                                         src="/UserAvatar/NormalSize/@user.UserAvatar"
                                         title="User Image"
                                         width="40px"
                                         height="40px" />
                                        @User.Identity.Name
                                    </a>/
                                    <a href="/Logout"> Logout </a>
                                </div>
                            }
                            else
                            {
                                <div class="signin">
                                    <i class="zmdi zmdi-account"></i>
                                    <a href="/Login"> Login </a> /
                                    <a href="/Register"> Sing up </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </nav>
            @RenderSection("SearchBox",false)
        </div>
    </div>

    <!-- main manu -->
    <partial name="/Views/Shared/Reference/_MainManu.cshtml" />
    <!-- /main manu -->
    <!-- content -->
    @RenderBody()
    <!-- /content -->
    <!-- footer -->
    <partial name="/Views/Shared/Reference/_Footer.cshtml" />
    <!-- /footer -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts",false)
    @RenderSection("Script",false)
</body>
</html>
